body {
    overflow-x: hidden;
}

.main-container {
    width: 100%;
    display: flex;

    .left-side-container {
        width: 50%;
        margin-left: 10rem;

        .heading-container {
            width: 40%;
        }

        .details-form-container {
            .margin-bottom {
                margin-bottom: 5px;
            }

            .input-container {
                .email-container {
                    .invalid {
                        border-color: red;
                    }
                }
            }

            .buttons-container {
                display: flex;

                .join-button-container {
                    width: 20%;
                    // display: flex;

                    button {
                        // width: 50%;
                        border: 0;
                        border-radius: 10px;
                    }
                }

                .reset-form-button-container {
                    // display: flex;
                    align-items: baseline;

                    button {

                        border: 0;
                        border-radius: 10px;
                    }
                }
            }
        }

    }

    .right-side-container {
        width: 50%;

        .right-side-heading-container {}

        .joinees-table-container {
            max-height: 16rem;
            overflow: auto;

            table {
                width: 100%;
                border-collapse: collapse;
            }

            tbody tr:nth-child(odd) {
                background-color: #e49eab;
            }

            tbody tr:nth-child(even) {
                background-color: #f6dde1;
            }

        }
        .export-csv-button-container {
            display: flex;
            justify-content: center;
            margin-top: 2%;
            button {
                background-color: #e6b2bb;
                border:0;
                border-radius: 6px;
            }
        }
    }
    button:hover{
        cursor: pointer;
    }
}

@media only screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }

    .main-container {
        overflow-x: hidden;
        flex-direction: column;
        // background-color: lightblue;

        .left-side-container {

            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 0;

            .heading-container {
                text-align: center;
            }

            .details-form-container {
                .buttons-container {
                    .join-button-container {
                        margin-right: 10px;
                    }
                }
            }
        }

        .right-side-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            // margin-left: 10rem;
            .right-side-heading-container {
                display: flex;
                justify-content: center;

            }
        }

        .joinees-table-container {
            width: 100%;

            table {
                width: 100% !important;
            }

            tr {
                text-align: center;
            }
        }

        .hide-row {
            display: none;
        }
    }
}

.invalid {
    // border-color: red;
    // width: 10rem;
    border: 1px solid red;
    border-radius: 1px;
}