<div class="main-container">
  <div class="left-side-container">
    <div class="heading-container">
      <h1>
        Join Unique Schools
      </h1>
    </div>
    <div class="details-form-container">
      <div class="input-container">
        <div class="email-container">
          <input type="email">
        </div>
      </div>
      <div class="name-container">
        <input type="text" placeholder="Name">
      </div>
      <div class="hex-code-container">
        <input type="text" placeholder="Enter 16 digits HEX code">
      </div>
      <div class="join-button-container">
        <button type="button">Join</button>
      </div>
    </div>
  </div>

  <div class="right-side-container">
    <div class="right-side-heading-container">
      <h1>
        {{numberOfJoinees}} Joinee's
      </h1>
    </div>
    <div class="joinees-table-container">
      <table></table>
    </div>
  </div>
</div>