<div class="main-container">
  <div class="left-side-container">
    <div class="heading-container">
      <h1>
        Join
        <span class="font-color">
          {{title}}
        </span>
      </h1>
    </div>
    <div class="details-form-container">
      <div class="input-container margin-bottom ">
        <div class="email-container margin-bottom">
          <input type="email" placeholder="Email">
        </div>
      </div>
      <div class="name-container margin-bottom">
        <input type="text" placeholder="Name">
      </div>
      <div class="hex-code-container margin-bottom">
        <input type="text" placeholder="Enter 16 digits HEX code">
      </div>
      <div class="join-button-container margin-bottom">
        <button type="button" class="background-color">Join</button>
      </div>
    </div>
  </div>

  <div class="right-side-container">
    <div class="right-side-heading-container">
      <h1>
        <span class="font-color">
          {{numberOfJoinees}}
        </span>
        <span>
          Joinee's
        </span>
      </h1>
    </div>
    <div class="joinees-table-container">
      <table></table>
    </div>
  </div>
</div>